body {
  padding: 0;
  margin: 0;
}

.sumbar {
  background-color: black;
  color: white;
  text-align: right;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 5px;
}

.button {
  background-color: lightgrey;
  color: black;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1px 5px;
  flex: 1;
}

.function-button {
  background-color: orange;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1px 5px;
  flex: 1;
}

.container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center space-between;
  flex-wrap: wrap;
  width: 400px;
  height: 80px;
}

.button:hover {
  background:#ebebeb;
  display:inline-block;
  padding:1px 5px;
}

.button:active {
  background:#bbbcbe;
  display:inline-block;
  padding:1px 5px;
}

.function-button:hover {
  background:#dfb07e;
  display:inline-block;
  padding:1px 5px;
}

.function-button:active {
  background:#dd8d37;
  display:inline-block;
  padding:1px 5px;
}

.boxC {
  flex: 2.15;
}

.box0 {
  flex: 3.35;
}
