body {
  padding: 0;
  margin: 0;
}

.result-screen {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  padding: 20px 5px;
  justify-content: flex-end;
  text-align: right;
  align-items: right;
  align-content: right;
}

.button {
  background-color: lightgrey;
  color: black;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1px 5px;
  flex: 0 1 25%;
  border: 1px solid black;
}

.function-button {
  background-color: orange;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1px 5px;
  flex: 0 1 25%;
  border: 1px solid black; 
}

.container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center space-between;
  flex-wrap: wrap;
  width: 400px;
  height: 80px;
}

.button:hover {
  background:#ebebeb;
  display:inline-block;
  padding:1px 5px;
}

.button:active {
  background:#bbbcbe;
  display:inline-block;
  padding:1px 5px;
}

.function-button:hover {
  background:#dfb07e;
  display:inline-block;
  padding:1px 5px;
}

.function-button:active {
  background:#dd8d37;
  display:inline-block;
  padding:1px 5px;
}

.boxC {
  flex: 2.15;
}

.box0 {
  flex: 3.35;
}
